<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DROGUERIA</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/nabvar.css">
</head>
<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="../images/Logo.png" alt="logo">
        </span>

        <div class="text header-text">
          <span class="name">Drogueria mickey</span>
          <span class="profession">Gestion </span>
        </div>
      </div>

      <i class='bx bx-chevron-left toggle' ></i>    </header>

    <div class="menu-bar">
      <div class="menu">
        <li class="search-box">
          <i class='bx bx-search-alt icon' ></i>
            <input type="text" placeholder="Buscar medicamento">
        </li>
        <ul class="menu-links">
          <li class="nav-link">
            <a href="#">
              <i class='bx bx-plus icon'></i>
              <span class="text nav-text">Agregar Medicamento</span> <!--agregar-->
            </a>
          </li>
        </ul>
        <ul class="menu-links">
          <li class="nav-link">
            <a href="#">
              <i class='bx bx-edit-alt icon' ></i>
                <span class="text nav-text">Editar Medicamento</span> <!--editar-->
            </a>
          </li>
        </ul>
      </div>
        <div class="bottom-content">
          <li class="mode">
            <div class="moon-sun">
              <i class='bx bx-moon icon' ></i>
              <i class='bx bx-sun icon' ></i>
            </div>
            <span class="mode-text text">Modo oscuro</span>
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
        </div>
    </div>
  </nav>

  <section class="welcome">
    <h1 class="welcome-text">BIENVENIDO</h1>
    <div class="search-container">
        <input type="text" placeholder="Buscar Medicamento">
        <i class='bx bx-search-alt'></i>
    </div>
  </section>

    <script src="../js/scriptnavbar.js"></script>
</body>
</html>